# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Environment & Credentials
.env
.env.*
*.json_credentials
*.key
credentials.json
service_account.json

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
